<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiddenChat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('nav.ejs') %>
    
    <div class="main-content">
        <h1 class="text-center mt-5 text-white-50">Contact us</h1>
        <div class="m-3 p-3 text-center mt-5 bg-gradient text-white-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ratione delectus ex amet repellendus eius, alias possimus doloremque sapiente quod beatae assumenda consequuntur cupiditate nihil. Ipsum quasi reiciendis ipsa aliquid quaerat odit molestiae expedita nesciunt. Non perspiciatis voluptatum accusantium et, eveniet ratione hic aperiam? Quisquam saepe ipsa est labore voluptatum molestias, deserunt dolores odit assumenda animi aspernatur quod tenetur libero consequatur ducimus molestiae autem rerum qui. Sequi dignissimos ducimus neque sit, consectetur nemo natus ea libero eligendi nam iusto exercitationem placeat rerum eum ipsum tenetur quis commodi cumque, reiciendis voluptates aut sunt necessitatibus dolores architecto. Aspernatur, error unde. Ducimus, similique?</div>
    </div>

    <footer class="footer p-2 bg-dark mt-5">
        <div class="text-center">
            &#169; All rights reserved 2021.
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>