<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiddenChat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('nav.ejs') %>
    
    <div class="main-content pd-2 mb-5">
        <h1 class="text-center homeh1">Welcome, This is a secret chat server.</h1>
    <h4 class="text-center homeh4 text-dark">Here you can chat for free. Enjoy..</h4> 
    <div class="mt-5 m-3 me-auto ms-auto text-center p-3 text-white-50 bg-gradient noto d-flex justify-content-center"><b>We Use MongoDb to store your messages and all the messages are encrypted in database. Even we cant read your messages so, dont worry about privacy no one is watching you. We are working every hour to make this HIDDEN SERVER more secure and user friendly. SO enjoy your stay and feel free to give your suggestions!</b></div>
    <div class="mt-5 m-3 text-center p-3 text-black bg-secondary rounded-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex doloremque soluta facere. Doloremque assumenda numquam deleniti neque, obcaecati aperiam ullam. Ratione fugiat est eum ut, odit beatae tempora consectetur atque ipsa illum eligendi pariatur id voluptatibus fugit quae quisquam quia corporis, sit architecto sint eos eaque quam itaque delectus. Culpa, velit voluptas dolore expedita ipsum officiis, quam suscipit consequatur sed repudiandae numquam sequi quos facilis. Unde doloribus molestiae error labore. Blanditiis nulla quidem libero doloribus optio, cumque, doloremque fuga, animi impedit possimus id molestias aspernatur ipsa suscipit ex itaque perspiciatis ducimus magnam eos similique soluta. Quasi, aperiam ducimus sit culpa eum voluptatibus temporibus! Eaque quo laudantium iste sequi sapiente doloremque sed iure asperiores quos aperiam, quod totam. Assumenda est nesciunt in voluptatum voluptatem beatae libero iste officiis, necessitatibus cumque. Commodi, veniam saepe quod ratione facilis ducimus nam quam fugiat tenetur repudiandae velit libero temporibus consequatur ipsum officia itaque? Voluptatibus, hic.</div>
    </div>
    

    <footer class="footer p-2 bg-dark mt-5">
        <div class="text-center">
            &#169; All rights reserved 2021.
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>